 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root{
    --span:#c0392b;
    --heading:#1e272e;
    --para:#2f3542;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-style: Roboto;
}

nav{
    padding: 0 5%;
    background-color: #1b1464e0;
}
nav .navigation{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.navigation li{
    padding: 14px 20px;
    border-radius: 3px;
}
.navigation li:hover{
    background-color:  #1B1464;
}
.navigation li a{
    color: white;
    font-size: 1.50rem;
    text-transform: uppercase;
}
nav span{
    color: white;
    padding: 14px 20px;
    font-size: 1.50rem;
    margin-right: auto;
}
nav span:hover{
    background-color:#2c2c54 ;
    cursor: pointer;
}

.sidebar{
    transform: translateX(-300px);
    transition: transform ease-in 0.5s;
    background-color:  #1b1464e0;
    position: absolute;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    padding: 100px 0;
}
.sidebar li{
    padding: 20px 14px;
    border-bottom: 1px solid rgba(211, 204, 231, 0.253);
}
.sidebar li:hover{
    background-color: #1B1464;
}
.sidebar li a{
   color: white;
   text-transform: uppercase;
   font-size: 1.50rem;
}
.sidebar span{
    color:white;
    position: absolute;
    right: 0;
    top: 14px;
}

/* this is main content part */
.container{
    padding:0 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;
    justify-content: center;
    align-items: center; */
    transition: all ease-in 0.5s;
}
#head{
    width: 50%;
   display: flex;
   flex-direction: column;
   flex-wrap:wrap;
   margin-top:100px;
    font-size:2.5rem;
    font-family: fantasy;
}
#head p{
    background-color: rgba(255, 0, 0, 0.755);
    color: white;
    text-align: center;
    width: 500px;
    margin: 0;
    border-radius: 5px;
    padding: 12px 0;
    text-transform: capitalize;
}
#head span{
   color: rgb(255, 0, 0);
  text-decoration: underline #2c2c549b wavy;
  font-size: 3rem;
  transition:all ease-in-out 0.75s;
  letter-spacing: 4px;
  
}
#head button a{
    color: black;
    font-size: 1.2rem;
    font-weight: 550;
}

#head button{
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
    padding: 12px 20px;
}
#head button:hover{
    background-color: rgba(255, 0, 0, 0.76);
}
#head button a:hover{
    color: white;
}






/* this is front part of content */
.front{
    width: 50%;
   
}
.front img{
    margin-top: 50px;
}

.container h1 span{
    color: var(--span);
    text-decoration: underline #2c2c54a4 double;
    letter-spacing: 4px;
}
.container h1{
   margin: 40px 150px;
   font-size: 40px;
}





/* this is for about-me  */
.about-me{
    width: 100%;
    padding: 0 5%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50%; 
    font-size:1.5rem ;
    word-spacing: 4px;
}
.content h1{
    word-spacing: 4px;
}
.image{
    width: 50%;
}


/* this is middle part of content */
.mid{
    padding: 5% 5%;
    margin: 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f7f1e3;
    margin: 20px;
    min-height: 700px;
    transition: all ease-in-out 0.5s;
}
.mid p{
    padding: 5%;
    color: white;
}

#data-science{
    background-color:#5f27cd;
    border-radius: 10px;
    box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
    height: 500px;
    width: 300px;
    transition: all 0.3s;
    align-self: center;
}
#data-science:hover{
    height: 520px;
    transform: scale(1.05);
    background-color: #341f97;
}
#cyber-security{
    background-color:#5f27cd;
    border-radius: 10px;
    box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
    height: 500px;
    width: 300px;
    transition: all 0.3s;
    align-self: center;

}
#cyber-security:hover{
    height: 520px;
    transform: scale(1.05);
    background-color: #341f97;
}

#web-devloper{
    background-color:#5f27cd;
    border-radius: 10px;
    box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
    height: 500px;
    width: 300px;
    transition: all 0.3s;
    align-self: center;
}
#web-devloper:hover{
    height: 520px;
    transform: scale(1.05);
    background-color: #341f97;
}
#graphics-design{
    background-color:#5f27cd;
    border-radius: 10px;
    box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
    height: 500px;
    width: 300px;
    transition: all 0.3s;
    align-self: center;
}
#graphics-design:hover{
    height: 520px;
    transform: scale(1.05);
    background-color:  #341f97;
}
.mid h2{
   text-align: center;
   padding: 20px;
   color: white;
}


/* this is end part of content */
.end{
    padding: 5% 5%;
    margin: 5% 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all ease-in-out 0.5s;
}
.end h1{
    text-align: center;
}
#one{

}
#one img:hover{

    transform: scale(1.03);
}
#two{

}
#two img:hover{
    transform: scale(1.03);
}
#three{

}
#three img:hover{
    transform: scale(1.03);
}
#four{

}
#four img:hover{
    transform: scale(1.03);
}


/* this is for footer part  */
.footer{
    padding: 0 5%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background:#1B1464;
    justify-content: center;
    min-height: 300px;
    color: white;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow: hidden;
}
.footer h1{
    color: rgba(255, 0, 0, 0.806);
    font-family: fantasy;
    word-spacing: 10px;
    font-weight: lighter;
}
.first-foot{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.first-foot h1{
    margin-top: 20px;
}
.first-foot p{
    margin: 30px;
    word-spacing: 10px;
    position: relative;
    top: 20%;
}
.social-media{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.social-media h1{
    /* color: var(--span); */
    margin-top: 20px;
}
#social-icons{
   position: relative;
   top: 30%;
   
}
#social-icons a{
    color: white;
    padding: 20px;

}
#social-icons a:hover{
    color: rgb(167, 161, 161);
}
#social-icons a i{
    font-size: 30px;
}
#copyright{
    width: 100%;
}

/* this is media queries */

/* 1) this is for extra small screen  */
@media only screen and (min-width:600px) and (max-width:700px){
    
    nav .navigation{
        display: none;
    }
   .sidebar{
       
        display: flex;
        flex-direction: column;
        
        transition: transform ease 0.5s;
    }

    #head{
        width: 50%;
       display: flex;
       flex-direction: column;
       flex-wrap:wrap;
       margin-top:100px;
        font-size:0.75rem;
        font-family: fantasy;
    }
    #head p{
        background-color: rgba(255, 0, 0, 0.755);
        color: white;
        text-align: center;
        width: 150px;
        margin: 0;
        border-radius: 5px;
        padding: 12px 0;
        text-transform: capitalize;
    }
    #head span{
       color: rgb(255, 0, 0);
      text-decoration: underline #2c2c549b wavy;
      font-size: 1.5rem;
      transition:all ease-in-out 0.75s;
      letter-spacing:2px;
      
    }
    #head button a{
        color: black;
        font-size: 0.75rem;
        font-weight: 550;
    }
    
    #head button{
        background-color: white;
        border: 1px solid red;
        border-radius: 5px;
        outline: none;
        padding: 12px 12px;
    }
    #head button:hover{
        background-color: rgba(255, 0, 0, 0.76);
    }
    #head button a:hover{
        color: white;
    }
    
    .front{
        width: 50%;
       
    }
    .front img{
        margin-top: 50px;
        height: 300px;
        width: 300px;
    }
    
    .container h1 span{
        color: var(--span);
        text-decoration: underline #2c2c54a4 double;
        letter-spacing: 4px;
    }
    .container h1{
       margin: 40px 150px;
       font-size: 20px;
    }

    .about-me{
        width: 100%;
        padding: 0 5%;
        margin: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-me img{
        width: 200px;
        height: 225px;
    }
    .content{
        margin-left:50px ;
        width: 50%; 
        font-size:0.75rem ;
        word-spacing: 2px;
    }
    .content h1{
        word-spacing: 4px;
    }
    .image{
        width: 50%;
    }

    .mid{

        padding: 5% 5%;
        margin: 5% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #f7f1e3;
        margin: 20px;
        min-height: 700px;
    }
    .mid p{
        padding: 5%;
        color: white;
        font-size: 0.75rem;
    }
    .mid img{
        width: 200px;
        height: 150px;
    }
    
    #data-science{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 200px;
        transition: all 0.3s;
        align-self: center;
    }
    #data-science:hover{
        width: 210px;
       height: 310px;
        background-color:#341f97;
    }
    #cyber-security{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 200px;
        transition: all 0.3s;
        align-self: center;
    
    }
    #cyber-security:hover{
        width: 210px;
       height: 310px;
        background-color: #341f97;
    }
    
    #web-devloper{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 200px;
        transition: all 0.3s;
        align-self: center;
    }
    #web-devloper:hover{
        width: 210px;
        height: 310px;
        background-color: #341f97;
    }
    #graphics-design{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 200px;
        transition: all 0.3s;
        align-self: center;
    }
    #graphics-design:hover{
        width: 210px;
       height: 310px;
        background-color:  #341f97;
    }
    .mid h2{
       text-align: center;
       padding: 20px;
       color: white;
       font-size: 0.90rem;
    }

    .end{
        padding: 5% 5%;
        margin: 5% 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .end h1{
        text-align: center;
        font-size: 0.90rem;
    }
    .end img{
        width: 370px;
        height: 200px;
    }
    .footer{
        padding: 0 5%;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        background:#1B1464;
        justify-content: center;
        min-height: 300px;
        color: white;
        flex-wrap: wrap;
        margin-top: 20px;
        overflow: hidden;
    }
    .footer h1{
        color: rgba(255, 0, 0, 0.806);
        font-family: fantasy;
        word-spacing: 10px;
        font-weight: lighter;
        font-size: 1.15rem;
    }
    .first-foot{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .first-foot p{
        margin: 30px;
        word-spacing: 4px;
        position: relative;
        top: 5%;
        font-size: 0.75rem;
    }
    .social-media{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
   
    #social-icons a{
        color: white;
        padding: 20px 14px;
    }
    #social-icons a:hover{
        color: rgb(167, 161, 161);
    }
    #social-icons a i{
        font-size: 1.115rem;
    }
    #copyright{
        width: 100%;
        font-size: 0.75rem;
    }
    
    .sidebar li a{
        font-size: 0.75rem;
    }
    .sidebar span{
        font-size: 0.90rem;
    }
}









/* 2)this is for tablets, small screen  */
@media only screen and (min-width:600px)and (max-width:992px){
    
nav .navigation{
    display: none;
}
    .sidebar{
        
        display: flex;
        flex-direction: column;
        transition: transform ease 0.5s;
    }
    #head{
        width: 50%;
       display: flex;
       flex-direction: column;
       flex-wrap:wrap;
       margin-top:100px;
        font-size:1.25rem;
        font-family: fantasy;
    }
    #head p{
        background-color: rgba(255, 0, 0, 0.755);
        color: white;
        text-align: center;
        width: 300px;
        margin: 0;
        border-radius: 5px;
        padding: 12px 0;
        text-transform: capitalize;
    }
    #head span{
       color: rgb(255, 0, 0);
      text-decoration: underline #2c2c549b wavy;
      font-size: 2rem;
      transition:all ease-in-out 0.75s;
      letter-spacing:4px;
      
    }
    #head button a{
        color: black;
        font-size: 0.90rem;
        font-weight: 550;
    }
    
    #head button{
        background-color: white;
        border: 1px solid red;
        border-radius: 5px;
        outline: none;
        padding: 12px 12px;
    }
    #head button:hover{
        background-color: rgba(255, 0, 0, 0.76);
    }
    #head button a:hover{
        color: white;
    }
    
    .front{
        width: 50%;
       
    }
    .front img{
        margin-top: 50px;
        height: 400px;
        width: 400px;
    }
    
    .container h1 span{
        color: var(--span);
        text-decoration: underline #2c2c54a4 double;
        letter-spacing: 4px;
    }
    .container h1{
       margin: 40px 0;
       font-size: 1.25rem;
    }

    .about-me{
        width: 100%;
        padding: 0 5%;
        margin: 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-me img{
        width: 300px;
        height: 325px;
    }
    .content{
        width: 50%; 
        font-size:1rem ;
        word-spacing: 2px;
    }
    .content h1{
        word-spacing: 4px;
    }
    .image{
        width: 50%;
    }

    .mid{

        padding: 5% 5%;
        margin: 5% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #f7f1e3;
        margin: 20px;
        min-height: 800px;
    }
    .mid p{
        padding: 0 5%;
        color: white;
        font-size: 0.75rem;
    }
    .mid img{
        width: 250px;
        height: 150px;
    }
    
    #data-science{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 250px;
        transition: all 0.3s;
        align-self: center;
    }
    #data-science:hover{
        width: 260px;
       height: 310px;
        background-color:#341f97;
    }
    #cyber-security{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 250px;
        transition: all 0.3s;
        align-self: center;
    
    }
    #cyber-security:hover{
        width: 260px;
       height: 310px;
        background-color: #341f97;
    }
    
    #web-devloper{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 250px;
        transition: all 0.3s;
        align-self: center;
    }
    #web-devloper:hover{
        width: 260px;
        height: 310px;
        background-color: #341f97;
    }
    #graphics-design{
        background-color:#5f27cd;
        border-radius: 10px;
        box-shadow: 5px 0px 10px 0.5px rgba(32, 31, 31, 0.521);
        height: 300px;
        width: 250px;
        transition: all 0.3s;
        align-self: center;
    }
    #graphics-design:hover{
        width: 260px;
       height: 310px;
        background-color:  #341f97;
    }
    .mid h2{
       text-align: center;
       padding: 20px;
       color: white;
       font-size: 0.90rem;
    }

    .end{
        padding: 5% 5%;
        margin: 5% 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .end h1{
        text-align: center;
        font-size: 1rem;
    }
    .end img{
        width: 300px;
        height: 200px;
    }
    .footer{
        padding: 0 5%;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        background:#1B1464;
        justify-content: center;
        min-height: 300px;
        color: white;
        flex-wrap: wrap;
        margin-top: 20px;
        overflow: hidden;
    }
    .footer h1{
        color: rgba(255, 0, 0, 0.806);
        font-family: fantasy;
        word-spacing: 10px;
        font-size: 1.25rem;
    }
    .first-foot{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .first-foot p{
        margin: 30px;
        word-spacing: 4px;
        position: relative;
        top: 5%;
        font-size: 0.90rem;
    }
    .social-media{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
   
    #social-icons a{
        color: white;
        padding: 20px 14px;
    }
    #social-icons a:hover{
        color: rgb(167, 161, 161);
    }
    #social-icons a i{
        font-size: 1.45rem;
    }
    #copyright{
        width: 100%;
        font-size: 0.90rem;
    }
    
    .sidebar li a{
        font-size: 1rem;
    }
    
    
}


/* 3)this is for medium screen size  */
@media only screen and (min-width:768px){}


/* 4)this is for large screen  */
@media only screen and (min-width:992px){
    
    .sidebar{
        display: none;
      }
    nav span{
        display: none;
    }

    }


/* 5) this is for extra large screen  */
 @media only screen and (min-width: 1200px){
   
  .sidebar{
    display: none;
  }
nav span{
    display: none;
}
 }